html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top left, var(--green28), var(--green7d));
}

.taskVariable {
  color: var(--orangeff);
  font-style: italic;
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

.row {
  border-radius: 1rem;
}

.task p {
  font-size: 1.6rem;
}

.input-group input::-webkit-outer-spin-button,
.input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group-text,
.input-group input {
  font-size: 1.4rem;
}

.input-group input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.form-control::placeholder {
  font-style: italic;
  opacity: 0.5;
}

.results p,
.ch-2-results p,
.ch-3-car1result,
.ch-4-results {
  font-size: 1.5rem;
}
