@import "../variables.css";

/* Common */
html {
  font-size: 62.5%;
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

.taskVariable {
  color: var(--orangeff);
  font-style: italic;
}

.challenges .row {
  border-radius: 1rem;
}

.task p {
  font-size: 1.6rem;
}

pre {
  font-size: 1rem;
}

.input-group label {
  font-size: 1.6rem;
}

.input-group span,
.input-group input,
.input-group select {
  font-size: 1.4rem;
}

.input-group input::-webkit-outer-spin-button,
.input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group input::placeholder {
  font-style: italic;
}

.input-group input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.print-challenge-results-btn,
.add-event-btn,
.print-events-report-btn,
.remove-event-btn {
  font-size: 1.4rem;
}
.error-msg {
  display: none;
  font-size: 1.2rem;
}

.results p {
  font-size: 1.4rem;
}

.events-report {
  font-size: 2rem;
}

body {
  background: linear-gradient(to top left, var(--green28), var(--green7d));
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
