@import "/css/variables.css";
@import "/css/common.css";

/* Common */

pre {
  font-size: 1rem;
}

.input-group label {
  font-size: 1.6rem;
}

.input-group span,
.input-group input,
.input-group select {
  font-size: 1.4rem;
}

.input-group input::placeholder {
  font-style: italic;
}

.print-challenge-results-btn,
.add-event-btn,
.print-events-report-btn,
.remove-event-btn,
.convert-btn {
  font-size: 1.4rem;
}

.error-msg {
  display: none;
  font-size: 1.2rem;
}

.events-report {
  font-size: 2rem;
}

.string-conversion p {
  font-family: monospace;
}

body {
  background: linear-gradient(to top left, var(--green28), var(--green7d));
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
