:root {
  --white: #fff;
  --black: #000;

  /* backgrounds */
  --yellowf7: #f7d060;
  --yellowf3: #f3e99f;
  --green28: #28b487;
  --green7d: #7dd56f;

  /* titles */
  --purple64: #643a6b;

  /* text */
  --purple97: #9759a1;

  /* font families */
  --latosans: "Lato", sans-serif;
  --merriserif: "Merriweather", serif;
}
