:root {
  --white: #fff;
  --black: #000;

  /* backgrounds */
  --yellowf7: #f7d060;
  --yellowf3: #f3e99f;
  --green28: #28b487;
  --green7d: #7dd56f;
  --gray1f: #1f1f1f;
  --grayf3: #f3f3f3;
  --grayd3: #d3d3d3;

  /* titles */
  --purple64: #643a6b;

  /* text */
  --purple97: #9759a1;
  --orangeff: #ff8400;
  --redff: #ff4a4a;
  --blue0d: #0d6efd;
  --blue00: #0092e3;

  /* font families */
  --latosans: "Lato", sans-serif;
  --merriserif: "Merriweather", serif;

  /* lessons */
  --testColor: #879f7a;
}
