@import "/css/variables.css";
@import "/css/common.css";

/* Common */

.input-group label,
.submit-btn,
.acc1,
.acc2,
.br1,
.br2 {
  font-size: 1.6rem;
}

.error-msg {
  font-size: 1.2rem;
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
  .row {
    width: 50%;
  }
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
