@import "/css/variables.css";
@import "/css/common.css";

/* Common */

.input-group label,
.submit-btn,
.acc1,
.acc2,
.br1,
.br2,
.ch2-submit-btn,
.ch2-acc1,
.ch2-br1,
.ch2-mph,
.ch3-submit-btn,
.ch3-acc1,
.ch3-br1,
.ch3-recharge {
  font-size: 1.6rem;
}

.error-msg {
  font-size: 1.2rem;
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
  .row {
    width: 50%;
  }
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
