@import "../variables.css";

/* Common */
html {
  font-size: 62.5%;
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

.bankist-app-container {
  padding: 0 2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-style: italic;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* ********************************************************************************************************************** */
/* NAV */

.custom-popover {
  font-size: 2rem;
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--redff);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}

.welcome-msg {
  font-size: 2rem;
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 2rem;
}

.welcome-msg + i {
  font-size: 2rem;
  cursor: pointer;
}

.logo {
  height: 7rem;
}

nav input[type="text"] {
  font-size: 1.6rem;
}

nav input::placeholder {
  text-align: center;
}

.login-btn {
  width: 4rem;
  font-size: 1.6rem;
}

/* ********************************************************************************************************************** */
/* MAIN */

.main {
  border-radius: 1rem;
  opacity: 0;
  transition: all 300ms ease-in;
}

.date {
  font-size: 1.4rem;
}

.balance-value h1 {
  font-size: 5rem;
}

/* ********************************************************************************************************************** */
/* transactions */

.transactions {
  overflow-y: scroll;
  height: 40rem;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.16);
}

.transactions::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--grayf3);
  display: none;
}

.transactions::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

.transactions::-webkit-scrollbar-thumb:hover {
  background-color: var(--orangeff);
}

.transactions-row-container {
  border-radius: 1rem;
}

.transaction-type {
  width: 13rem;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.transaction-date,
.transaction-value {
  font-size: 1.6rem;
  font-weight: 600;
}

.deposit,
.operation-loan {
  background-color: var(--green28);
}

/* ********************************************************************************************************************** */
/* operation */
.operations {
  padding: 0;
}

.operation {
  border-radius: 1rem;
}

.operation-transfer {
  background-color: var(--blue00);
}

.form-input-field input {
  opacity: 0.65;
  font-size: 1.6rem;
}

.operation button {
  font-size: 1.5rem;
}

.form-input-field label {
  font-size: 1.6rem;
  font-weight: 500;
}

/* ********************************************************************************************************************** */
/* summary */
.summary-item p {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.summary-item .summary-value {
  font-size: 1.8rem;
  font-weight: 600;
}

.summary-item .summary-value.value-in {
  color: var(--green28);
}

.summary-item .summary-value.value-out {
  color: var(--redff);
}
.summary-item .summary-value.value-interest {
  color: var(--orangeff);
}

.summary .sort-transactions-list,
.log-out-btn {
  font-size: 1.6rem;
  width: 11rem;
}

/* ********************************************************************************************************************** */
/* logout */
.logout-timer {
  font-size: 1.6rem;
}

.logout-timer span {
  font-weight: 600;
  color: var(--redff);
  font-family: monospace;
}

.main.container .row:first-child {
  margin-bottom: 18rem;
}

.main.container .row:last-child {
  width: 94%;
  position: absolute;
  top: 17rem;
}

.main.container .row:last-child section {
  width: 100%;
}

.main.container .row:last-child section:first-child {
  margin-bottom: 1rem;
}

body {
  /* background: linear-gradient(to top left, var(--green28), var(--green7d)); */
  background: var(--grayf3);
}

/* Mobile */
@media (min-width: 576px) {
  .main.container {
    max-width: unset;
  }

  .main.container .row:last-child {
    top: 10rem;
  }

  .main {
    border-radius: 1rem;
    width: 100%;
    margin: 5rem auto 0;
  }

  .welcome-msg {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
  }

  .transactions::-webkit-scrollbar {
    background-color: var(--grayf3);
    display: block;
  }
  .transactions {
    box-shadow: inset -1px -2px 2px rgba(0, 0, 0, 0.16);
    height: 67rem;
  }
}

@media (min-width: 768px) {
  nav input[type="text"] {
    width: 13rem;
  }

  .logo {
    height: 5rem;
  }

  .main.container .row:last-child {
    width: initial;
    position: initial;
  }

  .main.container .row:last-child section {
    width: 50%;
  }

  .transactions {
    height: 46rem;
  }

  .operations {
    padding: 0 1.5rem;
  }
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
  nav input[type="text"] {
    width: 13rem;
  }
  .main {
    margin: 3rem auto 0;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 80%;
  }
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
  nav input[type="text"] {
    width: 20rem;
  }
  .main {
    width: 50%;
  }
}
