@import "../variables.css";

/* Common */
html {
  font-size: 62.5%;
}

.sticky-btns-container {
  top: 0;
  right: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 2rem;
  z-index: 99;
}

.main-page-btn,
.challenges-btn {
  font-size: 1.6rem;
  color: var(--purple97);
}

.main-page-btn:hover,
.challenges-btn:hover {
  color: var(--white);
}

body {
  background: linear-gradient(to top left, var(--green28), var(--green7d));
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
