@import "/css/variables.css";
@import "/css/common.css";

/* Common */

pre {
  font-size: 1.2rem;
}

.input-group label,
.results p,
.dog-ages-results p,
.dog-study-results p,
.task p {
  font-size: 1.6rem;
}

.input-group span,
.input-group select {
  font-size: 1.4rem;
}

.input-group input::placeholder {
  font-style: italic;
}

.input-group .dog-weight,
.input-group .dog-food {
  flex-grow: 0;
  flex-basis: 10%;
}

.doggy-results-btn,
.challenge2-results-btn,
.challenge3-results-btn,
.challenge3-add-dog-btn,
.challenge3-remove-dog-btn {
  font-size: 1.4rem;
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
