@import "../variables.css";

/* Common */
html {
  font-size: 62.5%;
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

.bankist-app-container {
  padding: 0 2rem;
}

/* ********************************************************************************************************************** */
/* NAV */

.welcome-msg {
  font-size: 2rem;
  margin: 0;
}

.logo {
  height: 5rem;
}

nav input[type="text"] {
  font-size: 1.6rem;
  width: 20rem;
}

nav input::placeholder {
  text-align: center;
}

.login-btn {
  width: 4rem;
  font-size: 1.6rem;
}

body {
  /* background: linear-gradient(to top left, var(--green28), var(--green7d)); */
  background: var(--grayf3);
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
