@import "/css/variables.css";
@import "/css/common.css";

/* Common */

.population,
.language,
.currency {
  font-size: 1.6rem;
  font-weight: 600;
}

.name,
.continent {
  font-size: 2rem;
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
