@import "../variables.css";

/* Common */
html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top left, var(--green28), var(--green7d));
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

.header button,
.guess button {
  font-size: 2rem;
  font-weight: 700;
}

.header p {
  font-size: 2.4rem;
}

.number-square::after {
  content: "";
  height: 0.8rem;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.number h2 {
  font-size: 5rem;
}

.number-square p {
  z-index: 2;
  width: 30%;
  margin: 0 auto;
  color: var(--gray1f);
  font-size: 5rem;
  background-color: white;
  padding: 1rem;
}

.challenge {
  border-radius: 1rem;
}

.challenge-guess {
  font-family: "Silkscreen", cursive;
}

@keyframes win {
  0% {
    background-color: #212529;
  }
  50% {
    background-color: #55aa3e;
  }
  100% {
    background-color: #212529;
  }
}

.header,
.number h2,
.stats p {
  color: var(--white);
}

.guess input {
  font-size: 5rem;
  text-align: center;
}

.guess input::-webkit-outer-spin-button,
.guess input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stats,
.modal-btn {
  font-size: 1.8rem;
}

.stats .win {
  font-weight: 600;
  color: gold;
}

/* MODAL WINDOW */

.hidden-modal-window {
  display: none;
}

.modal-window-vanilla {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background: var(--white);
  min-width: 75%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(255, 255, 255, 0.16);
  border: 0.1rem solid var(--gray1f);
}

.close-modal-btn {
  border: none;
  font-weight: 900;
}

.overlay-el {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.blur {
  filter: blur(0.15rem);
}

/* PIG GAME */
.challenge-pig-game {
  background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.game-container {
  background: rgba(255, 255, 255, 0.4);
}

.current-player {
  background: rgba(255, 255, 255, 0.7);
  transition: 0.4s ease-in;
}

.player {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.game-functions {
  top: 50%;
  left: 1rem;
  height: 60%;
  transform: translateY(-50%);
}

.game-btn {
  border: none;
  background: var(--white);
  font-size: 1.6rem;
  color: var(--black);
}

.game-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.player h1 {
  font-size: 3rem;
}
.current-player .total-score {
  color: #ff5484;
}
.current-player .current-score {
  background: #ff5484;
}

.total-score {
  font-size: 6rem;
  color: #c7365f;
  margin-bottom: 5rem;
}
.current-score {
  font-size: 2rem;
  color: var(--white);
  background: #b93d60;
  width: 30%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 5rem;
}

.current-score p:last-child {
  font-size: 3rem;
}

img {
  position: absolute;
  width: 10rem;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  border-radius: 1rem;
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .game-functions {
    height: 100%;
    padding: 2rem 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .game-btn:first-child {
    margin-bottom: auto;
  }

  .game-btn:not(:first-child) {
    margin: 1rem 0;
  }

  img {
    right: 50%;
    transform: translate(50%, -50%);
  }

  .total-score {
    margin-bottom: 20rem;
  }

  .current-score {
    width: 50%;
  }
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .current-score {
    width: 40%;
  }

  img {
    width: 12rem;
  }
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
  .game-btn {
    font-size: 2.4rem;
  }

  .total-score {
    margin-bottom: 35rem;
  }

  .current-score {
    width: 35%;
  }

  img {
    width: 15rem;
  }
}
