@import "/css/variables.css";

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top left, var(--green28), var(--green7d));
  height: 100vh;
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

.app-container {
  margin-bottom: 5rem;
  height: 100%;
}

.input-group,
.dropdown-container {
  width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1.6rem;
  font-weight: 500;
}

.form-control::placeholder {
  font-style: italic;
  opacity: 0.8;
  font-size: 1.6rem;
}

form div:nth-child(odd) {
  padding-right: 1%;
}

form div:nth-child(even),
.elevation-container {
  padding-left: 1%;
}

label {
  font-size: 1.8rem;
}

/* .input-group span {
  width: 8rem;
  margin-right: 3rem;
  font-size: 1.8rem;
  width: 100%;
} */

.dropdown-container span {
  font-size: 1.8rem;
}

.form-select,
option {
  font-size: 1.6rem;
}

.activities {
  overflow-x: hidden;
  max-height: 25rem;
}
.activity-item {
  background: var(--purple3f);
  list-style: none;
}

.activity-title {
  font-size: 1.8rem;
}

.activity-type {
  text-transform: capitalize;
}

.activity-data {
  font-size: 1.4rem;
}

.journal {
  flex-grow: 1;
}

#map {
  min-height: 30rem;
}

/* Pop-ups */
.leaflet-popup-content-wrapper {
  background-color: var(--gray1f);
  color: var(--grayf3);
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.running-pop-up .leaflet-popup-content-wrapper {
  border-left: 0.6rem solid var(--green28);
}

.cycling-pop-up .leaflet-popup-content-wrapper {
  border-left: 0.6rem solid var(--yellowf7);
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
  body {
    height: 100vh;
  }

  .journal {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  #map {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}

@media (min-width: 1900px) {
  .app-container {
    max-width: 70%;
  }
}
