@import "/css/variables.css";

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to top left, var(--green28), var(--green7d));
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

.app-container {
  margin-bottom: 5rem;
}

.input-group {
  width: 50%;
}

.input-group input::-webkit-outer-spin-button,
.input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 1.6rem;
  font-weight: 500;
}

.form-control::placeholder {
  font-style: italic;
  opacity: 0.8;
  font-size: 1.6rem;
}

.input-group:nth-child(odd) {
  padding-right: 1%;
}

.input-group:nth-child(even) {
  padding-left: 1%;
}

.input-group span {
  /* width: 8rem; */
  /* margin-right: 3rem; */
  font-size: 1.8rem;
  width: 100%;
}

.input-group .dropdown-toggle,
.dropdown-item {
  flex-grow: 1;
  font-size: 1.6rem;
}

.dropdown-menu.show {
  width: 100%;
}

.activities {
  list-style: none;
  overflow-x: hidden;
  max-height: 25rem;
}
.activity-item {
  background: var(--purple3f);
}

.activity-title {
  font-size: 1.8rem;
}

.activity-data {
  font-size: 1.4rem;
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
