@import "../variables.css";

/* Common */
html {
  font-size: 62.5%;
}

.main-page-btn {
  top: 0;
  right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--purple97);
  z-index: 99;
}

.main-page-btn:hover {
  color: var(--white);
}

body {
  background: var(--grayf3);
}

/************************************************HEADER*********************************************************************/
/* NAV */
.bankist-logo {
  height: 5rem;
  filter: brightness(10);
}

.nav-link {
  font-size: 2rem;
}

.open-account {
  font-size: 1.5rem;
  text-decoration: none;
}

/* MODAL */
.modal-content {
  padding: 3rem;
}

.modal-title {
  font-size: 3rem;
}

.inputs label {
  width: 30%;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.inputs .form-control {
  width: 60%;
  margin-left: auto;
  font-size: 2rem;
}

.next button {
  font-size: 2rem;
}

/* Mobile */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
