@import "../variables.css";

/* Common */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.main-page-btn:hover {
  color: var(--white);
}

body {
  background: var(--grayf3);
  font-family: var(--latosans);
}

img {
  width: 100%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.16);
  border-radius: 1rem;
}

.lazy-img {
  filter: blur(1rem);
}

header {
  margin-bottom: 10rem;
}

/* part of the sticky navigation/intersection observer lesson. Not used in final project */
/* .sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
} */

/************************************************HEADER*********************************************************************/
/* NAV */

/* header {
  margin-bottom: 10rem;
} */

.bankist-logo {
  height: 5rem;
  filter: brightness(10);
}

.nav-link {
  font-size: 2rem;
}

.open-account {
  font-size: 1.5rem;
  text-decoration: none;
}

/* MODAL */
.modal-content {
  padding: 3rem;
  background: var(--grayf3);
}

.modal-title {
  font-size: 3rem;
  font-weight: 900;
}

.inputs label {
  width: 30%;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.inputs .form-control {
  width: 60%;
  margin-left: auto;
  font-size: 2rem;
}

.next button {
  font-size: 2rem;
}

/************************************************SECTION*********************************************************************/
.section {
  padding: 8rem 0;
  border-bottom: 1px solid var(--grayd3);
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.feature-column {
  padding: 4rem;
}

.feature-icon {
  height: 5rem;
  width: 5rem;
  background-color: var(--green7d);
  border-radius: 50%;
  fill: var(--white);
}

.feature-icon svg {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
}

/* HERO */

.hero img {
  height: 30rem;
}

.hero h1 {
  font-size: 4rem;
}

.hero h4 {
  font-size: 2rem;
}

.hero a {
  color: var(--green7d);
  text-decoration: none;
  font-size: 2rem;
  border-bottom: 1px var(--green7d) solid;
  width: fit-content;
  font-weight: 500;
}

/* S2 */

.section-title {
  font-size: 4rem;
}

#section1 {
  padding-bottom: 20rem;
}

#section2 h2 {
  font-weight: 600;
  color: var(--green7d);
}

#section2 h3 {
  font-weight: 700;
  font-size: 2rem;
}

#section2 p {
  font-size: 2rem;
}

#section2 .section-title {
  font-size: 4rem;
  font-weight: 600;
}

/* S3 */
#section3 .container {
  padding: 0 4rem;
}

#section3 h2 {
  color: var(--green7d);
}

#section3 .section-text h3 {
  font-size: 3.6rem;
}

#section3 .section-text p {
  font-size: 2rem;
}

#section3 .container div:last-child {
  border-radius: 1rem;
}

#section3 .container .row:first-child {
  margin-bottom: 5rem;
}

.tabbed-btns-container {
  padding: 0 3rem;
  border-bottom: 1px solid var(--grayd3);
}

.tabbed-btn {
  padding: 0 2rem;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.tabbed-btn.active {
  transform: translateX(100%);
}

/* Mobile */
@media (min-width: 576px) {
  .tabbed-btn {
    padding: 1rem 3rem;
  }
}

@media (min-width: 768px) {
}

/* ************************************************************* */
/* Tablet */
@media (min-width: 992px) {
  .section {
    padding: 15rem 0;
  }

  .hero h1 {
    font-size: 8rem;
  }

  .hero h4 {
    font-size: 4rem;
  }

  .hero img {
    height: 45rem;
  }

  #section3 .container {
    padding: 0 2rem;
  }

  .tabbed-btns-container {
    border-bottom: none;
  }

  .tabbed-btn {
    transform: translateY(-50%);
  }

  .tabbed-btn.active {
    transform: translate(0, -60%);
  }
}

@media (min-width: 1200px) {
}

/* ************************************************************* */
/* Desktop */
@media (min-width: 1400px) {
}
